<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <form method="post" action="http://localhost:8080/chats/create">
        <input type="text" name="from" placeholder="enter the sender name">
        <input type="text" name="to" placeholder="enter the receiver name">
        <input type="text" name="msg" placeholder="enter the msg">
        <button>submit</button>

    </form>
</body>
</html>