<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <form method="post" action="http://localhost:8080/chats/<%= id %>">
        <input type="text" name="newmessage" placeholder="enter the new message">
        <button>submit</button>
    </form>
</body>
</html>